<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>artists</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="logo-container">        
            <img src="../static/images/logo.png" alt="logo">        
    </div>
    <div class="artist-details">
    <h1>Artist.Name</h1>
    <img src="{{ .Image }}" alt="{{ .Name }}">
    <p>Creation Date: {{ .CreationDate }}</p>
    <p>First Album: {{ .FirstAlbum }}</p>
    <p>Members: {{range .Members }}{{.}}, {{end}}</p>
    <p>Locations: {{ .Locations }}</p>
    <p>Concert Dates: {{ .ConcertDates }}</p>
    <p>Relations: {{ .Relations }}</p>
</div>
   
</body>
</html>
