<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="marquee">
        <div class="marquee-content">
            <a href="#" class="marquee-item"><img src="../static/images/background-1280x801.jpg" alt="Image 1"></a>
            <a href="#" class="marquee-item"><img src="../static/images/background-1920x1201.jpg" alt="Image 2"></a>
            <!-- <a href="#" class="marquee-item"><img src="../static/images/logo.png" alt="Image 3"></a> -->
        </div>
    </div>
</body>
</html>