<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="logo-container">        
            <img src="../static/images/logo.png" alt="logo">        
    </div>

    <div class="container">
        <div class="marquee">
            <div class="img1">
                <a href="https://example.com/link1" target="_blank">
                    <img src="../static/images/cropped-1.jpg" alt="Image 1">
                </a>
                <a href="https://example.com/link1" target="_blank">
                    <img src="../static/images/cropped-1.jpg" alt="Image 1">
                </a>
            </div>
            <div class="img1">
                <a href="https://example.com/link2" target="_blank">
                    <img src="../static/images/cropped-2.jpg" alt="Image 2">
                </a>
            </div>
            <div class="img1">
                <a href="https://example.com/link3" target="_blank">
                    <img src="../static/images/cropped-2.jpg" alt="Image 2">
                </a>
            </div>
            <div class="img1">
                <a href="https://example.com/link2" target="_blank">
                    <img src="../static/images/cropped-2.jpg" alt="Image 2">
                </a>
            </div>
            <div class="img1">
                <a href="https://example.com/link3" target="_blank">
                    <img src="../static/images/cropped-3.jpg" alt="Image 3">
                </a>
            </div>
            <div class="img1">
                <a href="https://example.com/link4" target="_blank">
                    <img src="../static/images/cropped-4.jpg" alt="Image 4">
                </a>
            </div> 
            <div class="img1">
                <a href="https://example.com/link1" target="_blank">
                    <img src="../static/images/cropped-1.jpg" alt="Image 1">
                </a>
            </div>
            <div class="img1">
                <a href="https://example.com/link2" target="_blank">
                    <img src="../static/images/cropped-2.jpg" alt="Image 2">
                </a>
            </div>
            <div class="img1">
                <a href="https://example.com/link3" target="_blank">
                    <img src="../static/images/cropped-3.jpg" alt="Image 3">
                </a>
            </div>
            <div class="img1">
                <a href="https://example.com/link4" target="_blank">
                    <img src="../static/images/cropped-4.jpg" alt="Image 4">
                </a>
            </div> 
            <div class="img1">
                <a href="https://example.com/link1" target="_blank">
                    <img src="../static/images/cropped-1.jpg" alt="Image 1">
                </a>
            </div>
            <div class="img1">
                <a href="https://example.com/link2" target="_blank">
                    <img src="../static/images/cropped-2.jpg" alt="Image 2">
                </a>
            </div>
            <div class="img1">
                <a href="https://example.com/link3" target="_blank">
                    <img src="../static/images/cropped-3.jpg" alt="Image 3">
                </a>
            </div>
            <div class="img1">
                <a href="https://example.com/link4" target="_blank">
                    <img src="../static/images/cropped-4.jpg" alt="Image 4">
                </a>
            </div> 
        </div>
    </div>
    <h1>Artists</h1>
<ul>
    <div class="card-container">
        {{ range .Artists}}
        <li>{{ .Name}}</li>
        <div class="cards">
    <img src="{{.Image}}" alt="{{.Name}}">
    <div class="overview">
        <h1>{{.Name}}</h1>
        <p>Creation Date: {{.CreationDate}}<br>First Album: {{.FirstAlbum}}</p>
    </div>
    </div>
    {{ end }}
    </div>
</ul>
</body>
</html>
