<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    
    <nav class="nav-bar">
        <div class="nav-div">
            <div class="logo-container">
                <a href="#"><img src="../static/images/logo.png" alt="logo"></a>     
            </div>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="/locations">Locations</a></li>
                <li><a href="/dates">Dates</a></li>
            </ul>
            
        </div>
    </nav>   

  <h1>Artists</h1>
    <div class="card-container">
        {{ range .Artists }}
        <div class="cards">
            <img src="{{.Image}}" alt="{{.Name}}">
            <div class="overview">
                <h1>{{ .Name }}</h1>
                <p>Creation Date: {{ .CreationDate }}<br>First Album: {{ .FirstAlbum }}</p>
                <a href="/artist/?id={{ .Id }}">View Artist Details</a>
            </div>
        </div>
        {{ end }}
    </div>
</body>
</html>
