<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <h1>Featured Locations</h1>
    
    <nav class="nav-bar">
        <div class="nav-div">
            <div class="logo-container"><a href="/">GroupieTracker</a></div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">Locations</a></li>
                <li><a href="/dates">Dates</a></li>
                <li><a href="/relations">Relations</a></li>
            </ul>            
        </div>
    </nav> 

    <div class="item-grid">
        {{ range $objIndex, $objValue := .Index }}
        <div class="artist-item">
            <div class="artist-header">
                <h2><a href="/artist/?id={{$objValue.Id}}">{{$objValue.BandName}}</a> Tour Locations: </h2>
            </div>
            <ul>
                    {{ range $index, $value := $objValue.Locations }}
                    <li>{{ $value }}</li>
                    {{ end }}
                </ul>
        </div>
       {{ end }}
    </div>
   
</body>
</html>
