<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <h1>Featured Locations</h1>
    
    <nav class="nav-bar">
        <div class="nav-div">
            <div class="logo-container"><a href="/">GroupieTracker</a></div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/#">Locations</a></li>
                <li><a href="#">Dates</a></li>
            </ul>            
        </div>
    </nav> 

    {{ range $objIndex, $objValue := .Index }}
    <ul>
        <li><p>{{$objValue.BandName}} Tour Locations: </p></li>
        {{ range $index, $value := $objValue.Locations }}
        <ul>
            <li><p>{{ $value }}</p></li>
        </ul>
        {{ end }}
        <br>
    </ul>
   {{ end }}
   
</body>
</html>
