:root {
    --base-font-size: 16px;
    --scale-factor: 1vw;
  }

body {
    background-image: url('../images/background-1920x1201.jpg');
    background-size: cover; /* Fill screen(horizontally) with background*/
    background-position: top; /*Position background image to the top */
    background-repeat: no-repeat; /*Only have one itereation of background image*/
    background-attachment: fixed; /*Fix background image despite scroll*/
    background-color: #020816; /* Use magenta background at the edge of background image */
    font-size: var(--base-font-size);
}

.nav-bar {
    background: #810a8b;
    font-family: calibri;
    padding: 2% 3%;
}


.nav-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar li {
    list-style: none;
    display: inline-block;
}

.nav-bar a {
    color: #eee;
    font-weight: bold;
    margin-right: 40px;
    font-size: calc(var(--base-font-size) + var(--scale-factor));
}

.logo-container a {
    font-style: italic;
    font-weight: 600;
    color: #eee;
    font-size: calc(var(--base-font-size) * 2 + var(--scale-factor));
}

#suggestions-dropdown {
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    display: none;
    position: absolute;
    z-index: 1000;
    top: 18%;
    background-color: rgb(254, 231, 255);
    border-radius: 10px;
    font-size: 20px;
    width: 90%; /* Makes the dropdown match the search bar width */
    max-width: 300px;
    left: 50%; /* Centers the dropdown */
    transform: translateX(-50%);
    top: auto; /* Removes the top positioning */
}

#suggestions-dropdown option:hover {
    cursor: pointer;
    background-color: #810a8b;
    color: white
}

.search {
    --padding: 14px;
    width: max-content;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 28px;
    background: #f6f6f6;
    transition: box-shadow 0.25s;
    margin: 10px auto; /* Centers the search bar horizontally and adds some vertical space */
    width: 90%; /* Makes the search bar take up most of the width */
    max-width: 300px; /* Limits the maximum width */
}

.search:focus-within {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}

#search-box {
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    color: #333333;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
    width: calc(100% - 40px);
}

#search-box::placeholder,
.search-icon {
    color: rgba(0, 0, 0, 0.5);
}

#button {
    border: none;
    background: none;
}

#button:hover {
    cursor: pointer;
}

h1 {
    margin: 17px;
    font-size: 28px;
    color: #FFFFFF;
}

h2 {
    margin: 6px;
    font-size: 26px;
    color: #FFFFFF;
}

section {
    border: 1px solid #65016e;
    background-color: rgba(2, 8, 22, 0.5);
    border-radius: 10px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    padding: 5%;
}

.view-more {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.view-more a {
    padding: .025em .125em .025em .125em;
    color: #eee;    
}

.view-more a:active {
    color: #65016e;
}

.back {
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back a {
    width: 30%;
    min-width: 150px;
    height: 50px;
    font-size: 20px;
    padding: .025em .125em .025em .125em;
    color: #eee;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    align-content: center;
    text-align: center;
    background-color: #020816;
}

.item-grid {
    display: grid;
    gap: 20px;
    padding: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.artist-item {
    background-color: rgba(2, 8, 22, 0.7);
    border: 1px solid #65016e;
    border-radius: 10px;
    padding: 15px;
}

.artist-header h2 {
    color: #f7b8fd;
    font-size: 20px;
    margin-bottom: 10px;
}

.artist-header a {
    color:aqua
}

.artist-item ul {
    list-style-type: none;
    padding: 0;
}

.artist-item li {
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 5px;
}

.artist-item h3 {
    font-size: 22px;
    margin: 5px;
    color: #FFFFFF;
}

.overview p {
    font-size: 18px;
    margin: 20px;
    visibility: hidden;
    opacity: 0;
    text-align: center;
}

.overview h1 {
    text-align: center;
}

.artist-details {
    opacity: 1;
}

.artist-bio {
    border: none;
    background-color: rgba(2, 8, 22, 0.8);
    max-width: none;
    width: calc(100% + 40);
    position: relative;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    left: 5px;
    right: 5px;
    transform: none;
    padding-left:  20px;
    padding-right: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}

.artist-bio .image-container {
    flex: 0 0 auto;
    margin-right: 20px;
}

.artist-bio .image-container img {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}

.artist-bio .text-container {
    flex: 1 1 auto;
}

.artist-bio .text-container p {
    font-size: 20px;
    margin: 10px 0;
    color: #FFFFFF;
    text-align: left;
}

.artist-bio .text-container h1 {
    text-align: none;
}

p {
    font-size: 20px;
    margin: 20px;
    color: #FFFFFF;
    text-align: left;
}

.artist-header p {
    font-size: 22px;
    font-style: italic;
    color:#f7b8fd;
}

.container {
    width: 100%;
    height: 290px;
    overflow: hidden;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    text-decoration: none;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    height: auto;
    align-items: start;
}

.cards {
    width: 100%;
    margin: 0;
    box-shadow: 5px 5px 20px grey;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.cards img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: 0.3s ease;
}

.cards:hover img {
    transform: scale(1.05);
}

.cards:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.cards:hover .overview {
    height: auto;
    bottom: 0;
    background: #020816;
    transform: scale(1);
}

.cards:hover p {
    opacity: 1;
    visibility: visible;
}

.cards:hover img {
    transform: scale(1.2);
}

img {
    height: 100%;
    width: 100%;
    border-radius: 3px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.overview {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    position: absolute;
    bottom: -90px;
    background: rgba(25, 1, 65, 0.425);
    color: white;
    overflow: hidden;
    transition: .5s;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-50%);
    }
}

@media (max-width: 1024px) {
    :root {
      --base-font-size: 14px;
    }
    
    .item-grid {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }

 @media (max-width: 768px) {
  :root {
    --base-font-size: 12px;
  }
  
  .nav-div {
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .logo-container {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .nav-bar ul {
    justify-content: center;
  }
  
  .nav-bar a {
    font-size: calc(var(--base-font-size) * 1.5);
    margin-right: 20px;
  }

  .artist-bio {
    flex-direction: column;
    align-items: center;
  }

  .artist-bio .image-container {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .artist-bio .image-container img {
    width: 250px;
    height: 250px;
  }
}

  @media (max-width: 480px) {
    :root {
      --base-font-size: 10px;
    }
    
    .nav-div {
      flex-direction: column;
      align-items: center;
    }
    
    .logo-container {
      margin-bottom: 10px;
    }
    
    .nav-bar ul {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0;
    }
    
    .nav-bar li {
      margin: 0;
    }
    
    .nav-bar a {
      font-size: calc(var(--base-font-size) * 1.4);
      margin-right: 0;
      padding: 5px;
    }
    
    .item-grid {
      grid-template-columns: 1fr;
    }

    .artist-bio {
        padding: auto;
    }

    .artist-bio .image-container img {
        width: 200px;
        height: 200px;
      }
  }